img {
    height: 40%;
    width: 40%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

h1, nav, p.center {
    text-align: center;
}

p, summary, li, section, label, option, select, button {
    font-family: 'Belleza', sans-serif;
    color: whitesmoke;
}

strong, h1, h2, legend, button {
    color: blanchedalmond;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

h1, h2, legend {
    font-size: 35px;
}

button {
    font-size: 20px;
}

mark {
    background: black;
    color: whitesmoke;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto
}

textarea, fieldset, input, button {
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

button, legend {
    display: block;
    margin: 0 auto;
    text-align: center;
}

hr {
    padding: 0;
    border: none;
    border-top: medium double black;
    color: black;
    text-align: center;
}

hr.down:after {
    content: "\0270C";
    background: #404040;
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 30px;
    padding: 0 0.25em;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: blanchedalmond;
    font-family: 'Dancing Script', cursive;
    padding: 5%;
}

a:hover {
    color: whitesmoke
}

summary:hover {
    color: blanchedalmond;
}

header {
    background-image: url("../images/binary.jpg");
    background-size: 700px 200px;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.strike {
    text-decoration: line-through;
    color: blanchedalmond;
}