* {
  box-sizing: border-box;
}

body {
  background: #404040;
}

/* Create three unequal columns that floats next to each other */

.column {
  float: left;
  padding: 10px;
}

.left, .right {
  padding-top: 10%;
  width: 25%;
}

.middle {
  padding-top: 10%;
  width: 50%;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}