h1, p.center {
    text-align: center;
}

p, li, label{
    font-family: 'Belleza', sans-serif;
    color: whitesmoke;
}

h1, h2, button {
    color: goldenrod;
    font-family: 'Dancing Script', cursive;
    font-size: 15px;
}

h1, h2{
    font-size: 35px;
}


.answer, .name{
    margin: 0 auto; 
    text-align: center;
    line-height: 2;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    width: 20%;
}

button {
    margin: 0 auto;
    text-align: center;
}